{{ $data := index .Site.Data .Site.LanguageCode }}
{{ with $data.team }}
{{ if .enable }}
{{ "<!-- Team Section Start -->" | safeHTML }}
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{ with .title }}<h2 class="subtitle text-center">{{ . }}</h2>{{ end }}
            </div>
            {{ range $index, $element:= .members }}
            <div class="col-md-3 col-sm-6">
                {{ $delay := mul $index 300 }}
                <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="{{ $delay }}ms">
                    {{ with .image }}
                    <div class="team-img">
                        <img src="{{ . | absURL }}" class="team-pic" alt="team-member">
                    </div>
                    {{ end }}
                    {{ with .name }}<h3 class="team_name">{{ . }}</h3>{{ end }}
                    {{ with .designation }}<p class="team_designation">{{ . }}</p>{{ end }}
                    {{ with .description }}<p class="team_text">{{ . }}</p>{{ end }}
                    <p class="social-icons">
                        {{ with .website }}
                        <a href="{{ . }}" target="_blank">
                             <!-- <i class="ion-information-circled"></i> -->
                             <i class="ion-android-globe"></i>
                             <!-- <ion-icon name="globe"></ion-icon> -->
                        </a>
                        {{ end }}
                        {{ with .facebook }}
                        <a href="{{ . }}" class="facebook" target="_blank">
                            <i class="ion-social-facebook-outline"></i>
                        </a>
                        {{ end }}
                        {{ with .twitter }}
                        <a href="{{ . }}" target="_blank">
                            <i class="ion-social-twitter-outline"></i>
                        </a>
                        {{ end }}
                        {{ with .linkedIn }}
                        <a href="{{ . }}" target="_blank">
                            <i class="ion-social-linkedin-outline"></i>
                        </a>
                        {{ end }}
                        {{ with .wordpress }}
                        <a href="{{ . }}" target="_blank">
                            <i class="ion-social-wordpress-outline"></i>
                        </a>
                        {{ end }}
                        {{ with .researchgate }}
                        <a href="{{ . }}" target="_blank">
                            <i class="ai ai-researchgate-square ai-lg"></i>
                        </a>
                        {{ end }}
                        {{ with .googlescholar }}
                        <a href="{{ . }}" target="_blank">
                            <i class="ai ai-google-scholar-square ai-lg"></i>
                        </a>
                        {{ end }}
                        {{ with .academia }}
                        <a href="{{ . }}" target="_blank">
                            <i class="ai ai-academia-square ai-lg"></i>
                        </a>
                        {{ end }}
                        {{ with .lattes }}
                        <a href="{{ . }}" target="_blank">
                            <i class="ai ai-lattes-square ai-lg"></i>
                        </a>
                        {{ end }}
                        {{ with .researcherid }}
                        <a href="{{ . }}" target="_blank">
                            <i class="ai ai-researcherid-square ai-lg"></i>
                        </a>
                        {{ end }}
                        {{ with .publons }}
                        <a href="{{ . }}" target="_blank">
                            <i class="ai ai-publons-square ai-lg"></i>
                        </a>
                        {{ end }}
                        {{ with .orcid }}
                        <a href="{{ . }}" target="_blank">
                            <i class="ai ai-orcid-square ai-lg"></i>
                        </a>
                        {{ end }}
                        {{ with .github }}
                        <a href="{{ . }}" target="_blank">
                            <i class="ion-social-github-outline"></i>
                        </a>
                        {{ end }}
                    </p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ "<!-- Team Section End -->" | safeHTML }}
{{ end }}
{{ end }}