{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index .Site.Data .Site.LanguageCode }}
{{ with $data.about }}
{{ if .enable }}
{{ "<!-- Company Description Section Start -->" | safeHTML }}
<section class="company-description">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="block">
                    {{ with .title }}<h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                        {{ . }}</h3>{{ end }}
                    {{ with .description }}
                    <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                        {{ . | safeHTML }}
                    </p>
                    {{ end }}
                </div>
            </div>
            <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s">
                {{ with .image }}<img src="{{ . | absURL }}" alt="" class="img-fluid">{{ end }}
            </div>
        </div>
    </div>
</section>

{{ "<!--  Company Feature Section Start -->" | safeHTML }}
<section class="company-description_2">
    <div class="container">
        <div class="row">
            <div class="block">
                {{ range $index, $element := .aboutItem }}
                <div class="col-md-12">
                    {{ $class := add $index 1 }}
                    {{ with .title }}<h3 class="subtitle text-left">{{ . }}</h3>{{ end }}
                    {{ with .description | markdownify }}
                    <p class="wow fadeInDown" data-wow-duration=".5s" data-wow-delay=".3s">
                        {{ . | safeHTML}}</p>{{ end }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ "<!--  Company Feature Section End -->" | safeHTML }}
{{ end }}
{{ end }}

{{ partial "team.html" . }}

{{ partial "team_cl.html" . }}

{{ partial "team_ar.html" . }}

{{ partial "team_br.html" . }}

{{ partial "partners.html" . }}

{{ partial "cta.html" . }}

{{ end }}
