
{{ define "main" }}

<style>
    .bottom-px {
        margin-bottom: 35px;
    }
</style>
<!--
{{ "<!-- Page Header -->" | safeHTML }}
<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>{{ .Title }}</h2>
                    <div class="breadcrumb list-inline text-center">
                        <li class="list-inline-item">
                            <a href="{{ .Language | absURL }}">
                                <i class="ion-ios-home"></i>
                                {{ T "home" }} &nbsp; &nbsp;/
                            </a>
                        </li>
                        <li class="active list-inline-item">{{ .Title }}
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<section id="works" class="work-single">
    <div class="container">
        {{ with .Params.image }}
        <div class="post-img">
         <div class="bottom-px">
            <img class="img-fluid" alt="" src="{{ . | absURL }}">
        </div>
        </div>
        {{ end }}
        {{ with .Content }}
        <div class="work-single-content">
            {{ . }}
        </div>
        {{ end }}
    </div>
</section>

<section id="call" class="call">
    <div class="container">
        <div class="section-heading">
            <div class="row">
                <div class="col-sm-4">
                    <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right" data-wow-delay=".9s"
                        href="{{ .Params.btnURL1 }}" target="_blank">{{ .Params.btnText1 }}
                    </a>
                </div>
                <div class="col-sm-4">
                    <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right"
                        data-wow-delay=".9s" href="{{ .Params.btnURL2 }}" target="_blank">{{ .Params.btnText2 }}
                    </a>
                </div>
                <div class="col-sm-4">
                    <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right"
                        data-wow-delay=".9s" href="{{ .Params.btnURL3 }}" target="_blank">{{ .Params.btnText3 }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{{ partial "cta.html" . }}

{{ end }}